#!/bin/bash

# Run kickstart run to change hostname and puppet config
FACTER_RUNMODE=kickstart puppet agent -t --certname {{ansible_host}}.mgmt.{{location}}.uhdc.no --server {{puppetmaster}}.mgmt.{{location}}.uhdc.no

# Run normal puppet run
puppet agent -t
