---
location: test01
domain: mgmt.test01.uhdc.no
#himlar_ref: wallaby/testing
#himlar_repo: https://github.com/norcams/himlar.git
#himlarcli_ref: image_rewrite


himlarcli_packages:
  - python3.11
  - python3.11-devel
  - python3-virtualenv
  - openldap-devel
#himlarcli_python_command: python3.11
himlarcli_virutalenv_command: 'python3.11 -m venv'
